

*{
  box-sizing: border-box;

}

html{
    font-family: 'Raleway', sans-serif !important;
}

body{
  background: black;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: yellow;
}

.container{
    width: 100%;
    
}

span{
  margin: 0;
  padding: 0;
}



.orbs{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: block;
  font-size: 9vw;
  text-align: center;
  
  
}
  


.btn { 
    text-align: center;
    background-color: black !important;
    color: yellow !important;
    font-family: 'Raleway', sans-serif !important;
    text-transform: lowercase !important;
    font-size: 5vw;
 }   
    
.center-btn {
    font-family: 'Raleway', sans-serif !important;
}  
    
  


.glow{
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: yellow;
  margin-top: 40px;
  font-size: 9vw;
  text-align: right;
  
  
  
 
}

.icon-block {
  color: yellow;
  height: 50px;

}


.image-height {
  height: 200px;
}


#about {
  background-color:black;
  
}

#portfolio {
  background-color: black;
  
}

div.full-page {
  height: 100vh;
  width: 100vw;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
.light {
  font-size: 20px;
  text-align: center;
}

.card-action {
  color: white !important;
}

